<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
  <div class="form-group" [ngClass]="aplicaCssErro(nome)">

    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" name="nome" 
        id="nome" placeholder="Nome" [ngModel]="usuario.nome"
        required #nome="ngModel">
      <!--div>
        {{ nome.className }}
      </div--> 

      <app-campo-control-erro 
        [mostrarErro]="verificaValidTouched(nome)" 
        msgErro="Nome é obrigatório.">
      </app-campo-control-erro>
     </div>
  </div>

  <div class="form-group" [ngClass]="aplicaCssErro(email)">
    <div class="col-sm-12">
      <label for="email" class="control-label">Email</label>
    </div>
    <div class="col-sm-12">
      <input type="email" class="form-control" name="email"
        id="email" placeholder="nome@email.com" [ngModel]="usuario.email"
        required email #email="ngModel">
      <!-- pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" -->  
    
      <app-campo-control-erro 
        [mostrarErro]="verificaValidTouched(email)" 
        msgErro="Email inválido">
      </app-campo-control-erro>
    </div>
  </div>

  <div ngModelGroup="endereco">

  <div class="form-group">

    <div class="col-md-3" [ngClass]="aplicaCssErro(cep)">
      <label for="cep" class="control-label">CEP</label>
      <input type="text" class="form-control" id="cep" 
        name="cep" ngModel required #cep="ngModel"
        (blur)="consultaCEP($event.target.value, f)">
      <app-campo-control-erro 
        [mostrarErro]="verificaValidTouched(cep)" 
        msgErro="CEP é obrigatório.">
      </app-campo-control-erro>
    </div>

    <div class="col-md-3"  [ngClass]="aplicaCssErro(numero)">
      <label for="numero" class="control-label">Número</label>
      <input type="text" class="form-control" id="numero" 
        name="numero" ngModel required #numero="ngModel">
      <app-campo-control-erro 
        [mostrarErro]="verificaValidTouched(numero)" 
        msgErro="Número é obrigatório.">
      </app-campo-control-erro>
    </div>

    <div class="col-md-6">
      <label for="complemento" class="control-label">Complemento</label>
      <input type="text" class="form-control" id="complemento" 
        name="complemento" ngModel #complemento="ngModel">
    </div>

  </div>

  <div class="form-group" [ngClass]="aplicaCssErro(rua)">

    <div class="col-sm-12">
      <label for="rua" class="control-label">Rua</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" name="rua" 
        id="rua" ngModel required #rua="ngModel">

      <app-campo-control-erro 
        [mostrarErro]="verificaValidTouched(rua)" 
        msgErro="Rua é obrigatório.">
      </app-campo-control-erro>
     </div>
  </div>

  <div class="form-group">
    <div class="col-md-5" [ngClass]="aplicaCssErro(bairro)">
      <label for="bairro" class="control-label">Bairro</label>
      <input type="text" class="form-control" id="bairro" 
        name="bairro" ngModel required #bairro="ngModel">
      <app-campo-control-erro 
        [mostrarErro]="verificaValidTouched(bairro)" 
        msgErro="Bairro é obrigatório.">
      </app-campo-control-erro> 
    </div>

    <div class="col-md-4" [ngClass]="aplicaCssErro(cidade)">
      <label for="cidade" class="control-label">Cidade</label>
      <input type="text" class="form-control" id="cidade" 
        name="cidade" ngModel required #cidade="ngModel">
      <app-campo-control-erro 
        [mostrarErro]="verificaValidTouched(cidade)" 
        msgErro="Cidade é obrigatório.">
      </app-campo-control-erro>
    </div>

    <div class="col-md-3" [ngClass]="aplicaCssErro(estado)">
      <label for="estado" class="control-label">Estado</label>
      <input type="text" class="form-control" id="estado" 
        name="estado" ngModel required #estado="ngModel">
      <app-campo-control-erro 
        [mostrarErro]="verificaValidTouched(estado)" 
        msgErro="Estado é obrigatório.">
      </app-campo-control-erro>  
    </div>
  </div>

  </div>

  <button type="submit" class="btn btn-primary"
    [disabled]="!f.valid">Submit</button>

  <app-form-debug [form]="f"></app-form-debug>
</form>