npm-debug.log

03-data-binding/app/**/*.js
02-primeiro-componente/app/**/*.js

*.iml

.idea/*
02-primeiro-componente/app/cursos/cursos.component.js

02-primeiro-componente/app/cursos/cursos.component.js
.vscode/angulardoc.json
forms/.vscode/settings.json
requests-http/.vscode/settings.json
requests-http/.firebase/
angularv61/package-lock.json
novidades-v9/.angulardoc.json
package-lock.json