<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0" >
  Lista de cursos aqui.
</div>
<div *ngIf="cursos.length == 0" >
  Não existem cursos para serem listados.
</div>

<div *ngIf="mostrarCursos" >
  Lista de cursos aqui.
</div>
<div *ngIf="!mostrarCursos" >
  Não existem cursos para serem listados.
</div>

<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<h5>hidden como alternativa</h5>
<div [hidden]="!mostrarCursos" >
  Lista de cursos aqui.
</div>
<div [hidden]="mostrarCursos" >
  Não existem cursos para serem listados.
</div>

<h5>Removendo o * e usando template</h5>

<ng-template [ngIf]="mostrarCursos">
  <div>Lista de cursos aqui.</div>
</ng-template>

<div ng-template="ngIf mostrarCursos">
  Lista de cursos aqui.
</div>
