<div style="margin-top: 10px">
  <div class="custom-file">
    <input
      type="file"
      class="custom-file-input"
      id="customFile"
      (change)="onChange($event)"
      multiple
    />
    <label class="custom-file-label" for="customFile" id="customFileLabel"
      >Selecionar Arquivo</label
    >
  </div>
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      [style.width]="progress + '%'"
    >
      {{ progress }}%
    </div>
  </div>
</div>
<div style="margin-top: 10px">
  <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">
    Upload
  </button>
</div>
