<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()" >
  <div class="form-group" [ngClass]="aplicaCssErro('nome')">
    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control"
        formControlName="nome"
        id="nome" placeholder="Nome" >

        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('nome')"
          msgErro="Nome é obrigatório.">
        </app-campo-control-erro>
    </div>
  </div>

  <div class="form-group" [ngClass]="aplicaCssErro('email')">
    <div class="col-sm-12">
      <label for="email" class="control-label">Email</label>
    </div>
    <div class="col-sm-12">
      <input type="email" class="form-control"
        formControlName="email"
        id="email" placeholder="nome@email.com" >
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('email')"
          msgErro="Email é obrigatório.">
        </app-campo-control-erro>
        <app-campo-control-erro
          [mostrarErro]="verificaEmailInvalido()"
          msgErro="Email inválido.">
        </app-campo-control-erro>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button class="btn" (click)="resetar()">Cancelar</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
