<mat-card>
  <mat-toolbar color="primary">Detalhes do Curso</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="name" #name />
        <mat-hint align="end">{{ name.value.length || 0 }} / 100</mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid">{{
          formUtils.getErrorMessage(form, "name")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="Front-end">Front-End</mat-option>
          <mat-option value="Back-end">Back-End</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('category')?.invalid">{{
          formUtils.getErrorMessage(form, "category")
        }}</mat-error>
      </mat-form-field>

      <mat-toolbar>
        <span>Aulas</span>
        <button mat-icon-button color="accent" (click)="addNewLesson()">
          <mat-icon aria-label="Adicionar uma nova aula">add</mat-icon>
        </button>
      </mat-toolbar>

      <mat-error
        *ngIf="formUtils.isFormArrayRequired(form, 'lessons')"
        class="form-array-error"
        >Adicione pelo menos uma aula.
      </mat-error>

      <table
        style="width: 100%"
        formArrayName="lessons"
        *ngFor="let lesson of getLessonsFormArray(); let i = index"
      >
        <tr [formGroupName]="i">
          <td style="width: 65%">
            <mat-form-field class="full-width">
              <mat-label>Nome da Aula</mat-label>
              <input matInput formControlName="name" />
              <mat-error
                *ngIf="getLessonsFormArray()[i].get('name')?.invalid"
                >{{
                  formUtils.getFormArrayFieldErrorMessage(
                    form,
                    "lessons",
                    "name",
                    i
                  )
                }}</mat-error
              >
            </mat-form-field>
          </td>
          <td style="width: 30%">
            <mat-form-field class="full-width">
              <mat-label>URL</mat-label>
              <span matPrefix>https://youtu.be/</span>
              <input matInput formControlName="youtubeUrl" />
              <mat-error
                *ngIf="getLessonsFormArray()[i].get('youtubeUrl')?.invalid"
                >{{
                  formUtils.getFormArrayFieldErrorMessage(
                    form,
                    "lessons",
                    "youtubeUrl",
                    i
                  )
                }}</mat-error
              >
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button color="warn" (click)="removeLesson(i)">
              <mat-icon aria-label="Remover a aula">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>

  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Salvar
    </button>
    <button mat-raised-button (click)="onCancel()" class="btn-space">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
