<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
  <div class="form-row">
    <div class="col-sm-12">
      <label for="nome">Nome do Curso</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        placeholder="Nome do Curso"
        formControlName="nome"
        [ngClass]="{ 'is-invalid': submitted && hasError('nome')}"
      />
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['required']" >
        Por favor informe um nome para o curso.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['minlength']" >
        Nome precisa ter no mínimo {{ hasError('nome')['minlength'].requiredLength }} caracteres.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['maxlength']" >
        Nome precisa ter no máximo {{ hasError('nome')['maxlength'].requiredLength }} caracteres.
      </div>
    </div>
  </div>
  <div style="margin-top: 10px">
    <button type="sumit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
  </div>
</form>
