mat-card {
  max-width: 80%;
  margin: 2em auto;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
